* {
    box-sizing: border-box;
}

a {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f0f0f0;
}

.wrapper {
    margin: 1em auto;
    padding: 1em;
    background-color: #fff;
    min-width: 50em;
    max-width: 60em;
}

/* header */
h1 {
    font-size: 1.5em;
    color: #333;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    /*text-align: left;*/
}

table th {
    background-color: #f0f0f0;
    color: #333;
    font-weight: bold;
    padding: 0.5em 0.75em;
}

table th,
table td {
    padding: 0.5em 0.75em;
    border: 1px solid #ccc;
}

/* categories */
.categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    white-space: nowrap;
}

.category-id {
    text-align: center;
}

.category-icon > * {
    vertical-align: middle;
}

.category-icon__image {
    width: 2em;
    height: 2em;
}

.category-icon__name {
    font-size: 1em;
    font-weight: bold;
    margin-left: 0.5em;
}

p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.xml-icon {
    aspect-ratio: 1;
    float: left;
    margin-right: 0.5em;
    width: 10em;
    height: 10em;
}

h2 {
    font-size: 1.25em;
    color: #333;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

/* Navbar styles */
.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #333;
    overflow: hidden;
}

.navbar ul {
    width: 960px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float: left;
    position: relative;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}

.active {
    background-color: #111;
}